.archi_text{
    max-width: 500px;
      font-family: "Baskervville", serif;
      margin-top: 50px;

}
.archi_media{
    margin-top: 100px;
}
.arch_plan{
          font-family: "Baskervville", serif;
margin-top: 100px;
}
.section_texts{
    margin-bottom: 30px;
              font-family: "Baskervville", serif !important;
font-size: 30px !important;
    margin-top: 50px;
}