.contact_header {
  font-family: "Baskervville", serif;
}
.contact_btn {
  font-family: "Baskervville", serif;
}

.bookappoitment {
  margin-top: 80px;
  font-family: "Baskervville", serif;
  font-size: 40px;
  margin-bottom: 30px;
}
.page_content {
  padding-top: 86px;   // exactly matches .header_bg height
}

@media (max-width: 1030px) {
  .header_bg {
    height: 76px;
  }
  .page_content {
    padding-top: 76px;
  }
}

@media (max-width: 760px) {
  .header_bg {
    height: 66px;
  }
  .page_content {
    padding-top: 66px;
  }
}